body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-image: url('images/gradiente.avif');
    background-size: cover;
    background-position: center;
}

.icon {
    width: 20px;
    height:20px;
}

h1 {
    color:#b64545;
}

.sorvete {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #975050;
    font-weight: bold;
    border: 1px solid #e9d9e9;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    font-size: 18px;
    background-color: rgb(247, 235, 246);
}

nav a:hover {
    color: #ff6600;
}

main {
    display: flex;
    margin: 20px;
}

section {
    background-color: #f5d1d1;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
}

section h2 {
    color: #50392a;
}


section img {
    max-width: 100%;
    height: auto;
    display: block;
}

aside {
    background-color: #f5d1d1;
    width: 30%;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
aside h3 {
    color: #50392a;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    color: #ff6600;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}